body, html {
    width: auto;
    height: auto;
    background-color: hsl(90, 4%, 11%)
    
    
    
}

.box {
    width: 72%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
    background-color: hsl(216, 12%, 8%)
    
}