body, html {
    width: auto;
    height: auto;
    background-color: hsl(90, 4%, 11%)
    
    
    
}

.box {
    width: 76%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
    background-color: hsl(216, 12%, 8%)
    
}

.box2 {
    width: 400px;
    height: 400px;
    position: relative;
    top: 25%;
    margin: auto;
    background: radial-gradient(at top, hsl(213, 19%, 18%), hsl(214, 15%, 9%));
    border-radius: 30px;    

}